.button{
    color: #fff;
    background-color: #FA8C1D;
    font-size: 24px;
    width: 100%;
    height: 40px;
    border-radius: 9999px;
    border: none;
}
button:hover{
    background-color: #1da5fa;
}